.login-page
    .lp-container
        .lpc-logo
            img(src="", alt="")
        .lpc-form
            form(action="")
                .lpc-head
                    img.lpcr-img(src="", alt="")
                .lpc-body
                    h1 Login
                    .input-group.mb-3
                        input.form-control(type='text', placeholder='Username', aria-label='Username', aria-describedby='basic-addon1')
                    .input-group.mb-3
                        input.form-control(type='password', placeholder='Username', aria-label='Username', aria-describedby='basic-addon1')
                    .btn-group
                        button.btn.btn-primary(type='button') Primary
                    .btn-group
                        a Forgot password?
                        a Register
                .lpc-footer
                    .lpcf-top
                        a Terms &amp; conditions
                        a Privacy Policy
                    .lpcf-bottom
                        p © PropertyIQ Pty Limited


