@import "~node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "https://use.fontawesome.com/releases/v5.1.1/css/all.css";

// Variables
$green: #41bb72;
$dark-green: #269452;
$light-gray: #eaeaea;
$dark-gray: #575757;
$bg-gray: #f5f5f5;

// Reset
@mixin resetButtons($bgColor) {
    background: $bgColor;
    outline: none;
    border: none;
    cursor: pointer;
}

// Base
%avatar-img {
    padding: 10px;
    background: $bg-gray;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}


// Header
.main-header {
    background: $green;
    min-height: 50px;

    @include media-breakpoint-down(md) {
        display: flex;
        flex-flow: row wrap;
    }

    .nav-link {
        padding: 0 1rem;
    }

    .container {
        position: relative;

        @include media-breakpoint-down(md) {
            padding: 0;

            & > div {
                flex: 1;
            }
        }

        .navbar-center {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: 28px;
            }
        }
        .navbar-right {
            @include media-breakpoint-down(md) {
                display: flex;
                justify-content: flex-end;
                align-items: center;
    
                & button {
                    @include resetButtons(transparent);
    
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        i {
                            color: #fff;
                            font-size: 24px;
                        }
                    }
                }
            }
            .nav-link {
                color: #fff;
    
                img {
                    height: 35px;
                    width: 35px;
                    margin-left: 0.5rem;
                }
            }
        }
        
        // Header dropdowns
        .my-buildings {
            border: none;
            border-radius: 5px;
            padding: 1.5rem 1.25rem;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.349019607843137);
            max-width: 350px;

            @include media-breakpoint-down(sm) {
                max-width: unset;
                width: 100%;
                position: fixed;
                z-index: 3;
                top: 48px;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 0;
                border: none;
                box-shadow: none;
                margin: 0;
            }
            @include media-breakpoint-only(sm) {
                top: 55px;
            }

            h5 {
                color: $green !important;
                border-bottom: 1px solid $light-gray;
            }
            .mbi-container {
                @include media-breakpoint-down(sm) {
                    overflow-y: scroll;
                    height: calc(100vh - 120px);
                }
                
                .mb-items {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    border-radius: 4px;
                    padding: 0.5rem;

                    @include media-breakpoint-down(sm) {
                        margin-bottom: 0.25rem;
                        padding: 0.6rem;
                    }

                    &:hover {
                        background: #f1f1f1;
                    }
                    &.active {
                        background: #f1f1f1 !important;

                        .mbid-name, {
                            font-weight: bold;
                            color: $green;
                        }
                        .mbid-address {
                            color: $dark-green !important;
                        }
                    }
                    .mbi-img {
                        img {
                            background: $bg-gray;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .mbi-details {
                        width: 225px;
                        word-break: break-word;
                        white-space: normal;
    
                        @include media-breakpoint-down(sm) {
                            width: unset;
                            flex: 1;
                            padding-left: 1rem;
                        }
    
                        p {
                            display: flex;
                            flex-flow: row wrap;
                            background: transparent;
    
                            &.mbid-address {
                                font-size: 0.9rem;
                            }
                        }
                    }
    
                }
            }
        }
        .mobile-menu {
            border: none;
            background: #fff;

            @include media-breakpoint-down(sm) {
                width: 100%;
                position: fixed;
                z-index: 3;
                top: 48px;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 0;
                border: none;
                margin: 0;
                padding: 1.5rem 1.25rem;

                & .navbar-nav {
                    display: flex;
                    flex-flow: column wrap;
                    align-items: flex-start;

                    .nav-item {
                        width: 100%;
                        border-radius: 4px;
                        transition: all 100ms ease-in-out;
                        margin-bottom: 0.25rem;

                        a.nav-link {
                            padding: 0.75rem 1rem;
                            
                        }

                        &:hover {
                            background: #f1f1f1;
                        }

                        &.active {
                            background: #f1f1f1;

                            a.nav-link {
                                color: $green !important;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-only(sm) {
                top: 55px;
            }
        }
    }
}

// Body
.main-body {
    .container {
        @include media-breakpoint-only(xs) {
            & .row {
                margin: 0;
            }
        }
        .dashboard-left {
            -ms-flex: 0 0 24%;
            flex: 0 0 24%;
            max-width: 24%;

            // Sidebar Building
            .sidebar-building {
                overflow: hidden;

                .card-body::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    background: #41bb71;
                    height: 50px;
                    position: absolute;
                }
                .sb-top {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    img {
                        width: 75px;
                        height: 75px;
                        border-radius: 50%;
                        border: 4px solid #fff;

                        @include media-breakpoint-only(md) {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
                .sb-bottom {
                    .sb-address {
                        font-size: 0.9rem;
                    }
                }
            }
            // Sidebar Menus
            .sidebar-menus {
                .list-group-item {
                    background: transparent;
                    border-radius: 4px;
                    border: none;
                    color: #555;
                    padding: 0.65rem;

                    &.active {
                        font-weight: bold;
                        background: #fafafa;
                        border-left: 1px solid $green;
                        border-radius: 0 4px 4px 0;
                        box-shadow: 0 1px 2px rgba(167, 167, 167, 0.1);
                    }

                    &:hover {
                        background: #f9f9f9;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .dashboard-center {
            @include media-breakpoint-up(md) {
                -ms-flex: 0 0 45.66666667%;
                flex: 0 0 45.66666667%;
                max-width: 45.66666667%;
            }

            @include media-breakpoint-down(sm) {
                .dashboard-tabs {
                    display: flex;
                    flex-flow: row nowrap;

                    .nav-item {
                        display: flex;

                        a.nav-link {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 500;
                            text-align: center;

                            &.active {
                                color: $green !important;
                            }
                        }
                    }
                }
            }

            // Dashboard Building Preview
            .dashboard-building-preview {
                .card-body {
                    display: flex;
                    flex-flow: row wrap;

                    .dbp-content {
                        flex: 1;
                    }
                    .dbp-add-post-block {
                        display: flex;
                        align-items: center;

                        button.dbp-add-post {
                            @include resetButtons(transparent);

                            &:hover {
                                svg g,
                                svg polygon {
                                    stroke: $green;
                                }
                            }
                        }
                    }
                }
            }
            // Levy Balance
            .levy-balance {
                .lb-top {
                    display: flex;
                    flex-flow: row wrap;
                    background: $bg-gray;
                    border-radius: 40px;

                    .lbt-left {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        flex-basis: 35%;

                        @include media-breakpoint-only(md) {
                            & img {
                                margin: 0 0 0.5rem 0;
                            }
                        }
                    }
                    .lbt-right {
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        h4 {
                            color: $green !important;
                        }
                    }
                }
                .lb-bottom {
                    display: flex;

                    a.lbb-items {
                        display: flex;
                        flex: 1;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        border-top: 1px solid $light-gray;

                        @include media-breakpoint-only(md) {
                            flex-flow: column wrap;
                            justify-content: flex-start;
                            align-content: center;

                            & svg,
                            & p {
                                margin: 0 !important;
                            }

                            & svg {
                                margin-bottom: 0.25rem !important;
                            }
                        }
                    }
                }
            }
            // Open item
            .open-item {
                .card-body {
                    display: flex;
                    flex-flow: row wrap;

                    .oi-left {
                        .oib-img {
                            @extend %avatar-img;
                            border: 1px solid $green;

                            img {
                                width: 100%;
                            }
                        }
                    }
                    .oi-center {
                        flex: 1;

                        .oib-block {
                            background: $bg-gray;
                            border-radius: 40px;
                        }
                    }
                    .oi-right {
                        flex-basis: 5%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            // Owner Post
            .owner-post {
                .op-header {
                    display: flex;

                    .oph-img {
                        @extend %avatar-img;
                        border: 1px solid #41bb72;

                        img {
                            width: 100%;
                        }
                    }
                    .oph-center {
                        flex: 1;
                        display: flex;
                        flex-flow: column wrap;

                        .ophc-top {
                            display: flex;

                            .ophc-name {
                                font-size: 1.1rem;
                                color: $green;

                                &:hover {
                                    color: $dark-green;
                                }

                                &::after {
                                    content: '·';
                                    position: relative;
                                    margin-left: 5px;
                                    color: $dark-gray;
                                }
                            }
                            p {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                    .oph-pinned {
                        flex-basis: 5%;

                        svg {
                            transform: scale(0.85);
                        }
                    }
                }
                .op-body {
                    color: $dark-gray;
                }
                .op-comment {
                    display: flex;
                    flex-flow: row wrap;
                    background: $bg-gray;

                    .opc-img {
                        @extend %avatar-img;

                        img {
                            width: 100%;
                        }
                    }
                    .opc-input-block {
                        flex: 1;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;

                        input {
                            border-right: none;

                            &:focus {
                                border: 1px solid $green;
                            }
                        }
                        .input-group-append {
                            button {
                                background: #fff;
                                border: 1px solid #ced4da;
                                border-left: none;

                                &:hover {
                                    svg circle {
                                        fill: $green;
                                        transition: all 130ms ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // Upcoming Events
            .upcoming-events {
                .ue-header {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;

                    .ueh-img {
                        @extend %avatar-img;
                        border: 1px solid #41bb72;

                        img {
                            width: 100%;
                        }
                    }
                    .ueh-block {
                        flex: 1;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        background: #f5f5f5;
                        border-radius: 40px;
                    }
                }
                .ue-details {
                    margin-left: 65px;

                    .ued-info {
                        display: flex;
                    }
                }
            }
        }
        .dashboard-right {
            -ms-flex: 0 0 29.33333333%;
            flex: 0 0 29.33333333%;
            max-width: 29.33333333%;

            // Sidebar Financial Statement
            .sidebar-financial-statement {
                .card-header {
                    background: $green;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .card-body {
                    .sfs-details {
                        display: flex;
                        flex-flow: row wrap;
                        border-bottom: 1px solid $light-gray;

                        @include media-breakpoint-only(md) {
                            flex-flow: column wrap;
                            justify-content: center;
                            align-items: center;
                        }

                        .sfsd-circle {
                            background: $bg-gray;;
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;

                            @include media-breakpoint-only(md) {
                                box-shadow: 0 1px 2px rgba(177, 177, 177, 0.4);
                                z-index: 1;
                                position: relative;
                                top: 10px;
                                margin: 0 !important;
                            }
                        }
                        .sfsd-ellipse {
                            flex: 1;
                            background: $bg-gray;;
                            border-radius: 15px;

                            @include media-breakpoint-only(md) {
                                height: 60px;
                                width: 100%;
                            }
                        }
                    }
                    .sfsm-more {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .sidebar-building-details {
                .card-body {
                    position: relative;

                    .sbd-owner {
                        display: flex;
                        flex-flow: row wrap;
    
                        &::before {
                            content: '';
                            background: $bg-gray;
                            position: absolute;
                            top: 0;
                            left: 45px;
                            right: 0;
                            height: 60px;
                            margin: 1.25rem 1.25rem 0 1.25rem;
                            z-index: 1;
                            border-radius: 15px;

                            @include media-breakpoint-only(md) {
                                left: 30px;
                            }
                        }
    
                        .sbdo-image {
                            flex-basis: 90px;
                            display: flex;
                            justify-content: center;
                            position: relative;
                            z-index: 2;

                            @include media-breakpoint-only(md) {
                                flex-basis: unset;
                            }
    
                            img {
                                background: $light-gray;
                                height: 60px;
                                width: 60px;
                                border-radius: 50%;
                            }
                        }
                        .sbdo-details {
                            display: flex;
                            flex-flow: column wrap;
                            justify-content: center;
                            align-content: center;
                            flex: 1;
                            position: relative;
                            z-index: 2;

                            .sbdod-position {
                                color: $green;
                            }
                        }
                    }
                    .sbd-info {
                        border-bottom: 1px solid $light-gray;
    
                        .sbdi-items {
                            display: flex;
                            flex-flow: row wrap;

                            @include media-breakpoint-only(md) {
                                flex-flow: column-reverse wrap;
                            }
    
                            .sbdii-label {
                                flex-basis: 90px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                @include media-breakpoint-only(md) {
                                    flex: 1;
                                }
                            }
                            .sbdii-value {
                                flex: 1;

                                @include media-breakpoint-only(md) {
                                    & p {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                    .sbd-more {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}