/* You can add global styles to this file, and also import other style files */
@import "~node_modules/bootstrap/scss/bootstrap-grid.scss";

// Reset
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-offset: 0  !important;
    background-image: none  !important;
    -webkit-box-shadow: none !important;
    box-shadow: none  !important;
}
input,
input:focus,
input:hover {
    outline: none;
    box-shadow: none !important;
}

// Variables
$green: #41bb71;
$dark-gray: #575757;
$darker-gray: rgb(66, 66, 66);

// Mixins
@mixin hoverSvg() {
    svg path,
    svg g,
    svg polygon,
    svg rect,
    svg polyline,
    svg line {
        stroke: $green;
        transition: all 100ms ease-in-out;
    }
}

// Global
body {
    background: #ebebeb !important;
}
body.unscrollable {
    overflow: hidden;
}
a {
    transition: all 0.1s ease-in-out;
}
h1,h2,h3,h4,h5,h6,
.font-weight-bold {
    color: $dark-gray !important;
}
button:hover {
    @include hoverSvg();
}

// Body
.main-body {
    padding: 2rem 0;

    .card.card-item {
        margin-bottom: 1rem;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(167, 167, 167, 0.1);

        .card-link {
            color: $dark-gray;

            &:hover {
                color: $green;
                @include hoverSvg();
            }
        }
    }
}

// Media Query
html {
    font-size: 0.85rem;
}
  
@include media-breakpoint-only(md) {
    html {
        font-size: 0.8rem;
    }
    .main-header {
        .container {
            padding: 0 !important;
        }
    }
    .container {
        max-width: unset !important;
    }
}
@include media-breakpoint-only(sm) {
    html {
        font-size: 1rem;
    }
}
@include media-breakpoint-only(xs) {
    html {
        font-size: 0.85rem;
    }
}